@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


.activeBg{
    background-color: black ;
    color: white
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* dot active for product  */
.dot-active{
  @apply border border-[#1f2427] w-[24px] h-[24px] rounded-full
}

.dot-nav {
  @apply bg-[#adadad] rounded-full w-[6px] h-[6px];

}


/* start sticky nav container in Running Page  */
.nav-sticky {
  @apply !fixed;
  @apply z-10;
  @apply top-0;
}

.nav-active::after{
  @apply bg-[#006cb7];
  @apply content-[''];
  @apply block;
  @apply h-[2px];
  @apply absolute;
  @apply right-0;
  @apply w-full;
  @apply mt-[32px];
  @apply max-lg:mt-[13px]
}

.active{
  @apply text-[#1f2427];
}

.sticky-nav-element-active::after {
  animation: line-appear 0.2s ease-in-out;
}
/* end sticky nav container in Running Page  */

.slider {
  max-width: 100rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;

  /* IN THE END */
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;

  display: flex;
  align-items: center;
  justify-content: center;

  /* THIS creates the animation! */
  /* transition: transform 1s; */
}

.slide > img {
  /* Only for images that have different size than slide */
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.dots::before {
  content: "";
  background-color: #757a7d;
  height: 99%;
  left: 48%;
  position: absolute;
  width: 1.2px;
  z-index: -1;
}


.dots__dot {

  background: radial-gradient(
    closest-side,
    #959494 35%,
    rgba(0, 0, 0, 0) 0%
  );
  border-radius: 50%;
  content: "";
  height: 33px;
  width: 33px;

}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  background-color: #fff;
  background-color: #888;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #006cb7;
  border: 2px solid #fff;
  box-shadow: 0 0 0 7px rgba(0, 108, 183, 0.4);
  color: #fff;
  font-weight: 700;
  height: 34px;
  width: 34px;
  padding: 5px;
}

.add-compare::before {
  border: 1px solid #737a7e;
  position: relative;
  bottom: 0;
  left: -25px;
  background: transparent;
  border-radius: 3px;
  content: "";
  display: inline-block;
  height: 15px;
  width: 19px;
}

.add-compare::after {
  border: 1px dashed #737a7e;
  position: absolute;
  left: -20px;
  background: transparent;
  border-radius: 3px;
  content: "";
  display: inline-block;
  height: 15px;
  width: 19px;
}

button {
    background: none;
    appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    border: none;
    cursor: pointer;
  }
  
  .page-btn {
    color: #2c303a;
    height: 35px;
    border-radius: 2px;
    padding: 0 10px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transition: background 0.3s ease;
    margin: 0 2px
  }
  
  .page-btn:first-of-type {
    margin-left: 0;
  }
  
  .page-btn:last-of-type {
    margin-right: 0;
  }
  
  .page-btn:not([class$="-page"]) {
    width: 35px;
  }
  
  .pagination-buttons {
    display: flex;
    justify-content: end;
    padding: 0px 100px;
    margin-bottom: 200px;
    max-width: 1280px;
    margin: 0 auto;
  }
  
  .page-btn[class*="-page"] {
    font-size: 0.6em;
    font-weight: 700;
  }
  
  .page-btn.active {
    background: black;
    color: #fff;
  }
  
  .page-btn[disabled] {
    opacity: 0.3;
  }
  .prev-page, .next-page{
    font-size: 20px !important;
    color: rgb(163, 158, 158) !important;
  }


